<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="nav">
    <ul>
      <li><a class="home" href="/">Home</a></li>
      <!-- <li><a href="#">Events</a></li> -->
      <li><a href="/restaurant">Restaurants</a></li>
      <li><a href="/#map">Map</a></li>
    </ul>
  </nav>
  <section class=information>
    <section class="leftInfo">
      <h1><%= restaurant.Name %></h1>
    <p><%= restaurant.Address %></p>
    <p><%= restaurant.Hours %></p>
    <a href="<%= restaurant.Menu %>">menu</a>
    <p><%= restaurant.ShortDescription %></p>
    <p>ShortDescription</p>
  </section>
  <section class="rightInfo">
    <section id="map">

    </section>
  </section>
</section>

<section class="restGallery">
  <h1 class="topDishes">Top Dishes</h1>
  <section class="videos">
    <img class="detailImg" src="img/<%= restaurant.images[0] %>" alt="">
  </section>
  <section class="videos">
    <img class="detailImg" src="img/<%= restaurant.images[1] %>" alt="">
  </section>
  <section class="videos">
    <img class="detailImg" src="img/<%= restaurant.images[2] %>" alt="">
  </section>
</section>



</body>
<script src="main.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlmkeEGX5dm_msidT3HvAEnztfEj5oTaA&libraries=places&callback=initMap"async defer></script>
</html>
