<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="nav">
    <ul>
      <li><a class="home" href="/">Home</a></li>
      <li><a href="/restaurant">Restaurants</a></li>
      <li><a href="/#map">Map</a></li>
    </ul>
  </nav>
  <section class="searchPortal">
    <p class="directory">Restaurant Directory</p>
    <form class="" action="/restaurant" method="GET">
      <input class="input" type="text" name="search" placeholder="Search.......">
      <select class="distance" name="distance" onchange="this.form.submit()">
        <option value="">All Restaurants</option>
        <option value="1">Within 1 mile</option>
        <option value="2">Within 2 miles</option>
        <option value="3">Within 3 miles</option>
        <option value="4">Within 4 miles</option>
        <option value="5">Within 5 miles</option>
      </select>
      <input class="submit" type="submit" value="Search">
    </form>
  </section>

  <% for(var i=0; i<restaurants.length; i++) {%>
    <section class="test">
      <section class="test2">
        <img class="searchImg" src="img/<%= restaurants[i].images[0] %>" alt="">
      </section>
      <section class=test1>
        <h3 class="restTitle"><a href="/detail?id=<%= restaurants[i].RestId %>"><%= restaurants[i].Name %></a></h3>
        <span><%= restaurants[i].Address %></span><br>
        <a href="<%= restaurants[i].Menu %>">menu</a><br>
        <span><%= restaurants[i].PhoneNumber %></span><br>
        <span><%= restaurants[i].Hours %></span><br>
        <span><%= restaurants[i].ShortDescription %></span>
      </section>
    </section>
    <% } %>
  </body>
  </html>
